/*COLORS*/
$headerBackground: #2f2f2f;
$headerColorText: #f4eeeb;
$borderProduct: rgb(201, 201, 201);
$blackCardColor: #fffefe;
$priceColor: #e3400a;
$ratingColor: #ca6b05;
$reviewLinkColor: #00aef8;
$reviewLinkHoverColor: #4bc4f8;
$backgroundBtnColor: #009adc;
$backgroundBtnWishHoverColor: rgb(239, 235, 235);
$backgroundBtnAddCartHoverColor: rgb(62, 174, 222);
$colorFontBtn: #e2eff5;
$backgroundReviews: #f5f5f5;

$textDiscountColor: rgb(255, 255, 255);
$lowDiscountColor: rgb(255, 166, 0);
$middleDiscountColor: rgb(248, 73, 102);
$maxDiscountColor: rgb(253, 4, 4);

$lowDiscountPriceColor: rgb(216, 141, 1);
$middleDiscountPriceColor: rgb(234, 68, 95);
$maxDiscountPriceColor: rgb(242, 43, 43);

/*BREAKPOINTS*/
$small-screen: 600px;
$medium-screen: 750px;
$large-screen: 1200px;
$very-large-screen: 1500px;
$extra-large-screen: 1800px;
